#link{
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 8px;
  color: black;
  text-decoration: none;
  border: .01rem solid black;
  padding: .5rem 1rem;
  font-weight: bolder;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: all .8s;
}

#link:hover{
  background-color: rgba(0, 0, 0, 0.104);
}

#description{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 1rem;
  background-color: rgba(222, 213, 213, 0.718);
}

h2{ margin-left: 1rem; }
